In [1]:
import pandas as pd

url="https://data.ontario.ca/dataset/f4112442-bdc8-45d2-be3c-12efae72fb27/resource/455fd63b-603d-4608-8216-7d8647f43350/download/conposcovidloc.csv"
c=pd.read_csv(url)

In [2]:
c.head(1)

,ROW_ID,ACCURATE_EPISODE_DATE,Age_Group,CLIENT_GENDER,CASE_ACQUISITIONINFO,OUTCOME1,Reporting_PHU,Reporting_PHU_Address,Reporting_PHU_City,Reporting_PHU_Postal_Code,Reporting_PHU_Website,Reporting_PHU_Latitude,Reporting_PHU_Longitude
0,1,2020-03-07,40s,MALE,Neither,Resolved,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358

In [3]:
c.columns

Index(['ROW_ID', 'ACCURATE_EPISODE_DATE', 'Age_Group', 'CLIENT_GENDER',
       'CASE_ACQUISITIONINFO', 'OUTCOME1', 'Reporting_PHU',
       'Reporting_PHU_Address', 'Reporting_PHU_City',
       'Reporting_PHU_Postal_Code', 'Reporting_PHU_Website',
       'Reporting_PHU_Latitude', 'Reporting_PHU_Longitude'],
      dtype='object')

In [4]:
e = pd.crosstab(c.Age_Group, c.OUTCOME1, margins=True)
e["Fatality_Rate_per"] = (e["Fatal"] / e["All"] * 100).round(1)
e

OUTCOME1   Fatal  Not Resolved  Resolved   All  Fatality_Rate_per
Age_Group
20s            0           317       241   558                0.0
30s            0           336       273   609                0.0
40s            4           390       285   679                0.6
50s            5           513       340   858                0.6
60s           12           388       273   673                1.8
70s           36           244       124   404                8.9
80s           43           232        30   305               14.1
90s           32           103        16   151               21.2
<20            0            67        40   107                0.0
Unknown        0             1         2     3                0.0
All          132          2591      1624  4347                3.0

In [5]:
pd.crosstab(c.Reporting_PHU_City, c.OUTCOME1, margins=True)

OUTCOME1            Fatal  Not Resolved  Resolved   All
Reporting_PHU_City
Barrie                  5            47        33    85
Belleville              1            14         6    21
Brantford               1            21        29    51
Brockville              3            36        18    57
Chatham                 1             4         7    12
Cornwall                0            21        22    43
Guelph                  1            64        26    91
Hamilton                3            70        90   163
Kenora                  0             1         3     4
Kingston                0            27        25    52
London                  5           101        24   130
Mississauga             5           378       146   529
New Liskeard            0             1         2     3
Newmarket              16           278       158   452
North Bay               0             1         3     4
Oakville                3            81        63   147
Ottawa                  3           199       160   362
Owen Sound              0             9        10    19
Pembroke                1             3         3     7
Peterborough            0            21        21    42
Point Edward            8            55        14    77
Port Hope              12            30        56    98
Sault Ste. Marie        0             5         3     8
Simcoe                  5            51         9    65
St. Thomas              2             9         7    18
Stratford               1            12         4    17
Sudbury                 1            11        14    26
Thorold                 7            76        53   136
Thunder Bay             0            11         2    13
Timmins                 0            18        11    29
Toronto                29           595       415  1039
Waterloo                2            84        68   154
Whitby                 15           132        88   235
Windsor                 2           125        31   158
All                   132          2591      1624  4347

In [6]:
import os
from datetime import date

datapath = r'data'
today = date.today()
c.to_csv(os.path.join(datapath, 'ON_COVID19_CASES_' + today.strftime("%Y%m%d")+ ".csv"))